<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.ott.client.equip.mapper.OperatorsMapper">
	<resultMap id="OperatorsMap" type="Operators">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="spName" property="spName" jdbcType="VARCHAR" />
		<result column="otherName" property="otherName" jdbcType="VARCHAR" />
		<result column="fullName" property="fullName" jdbcType="VARCHAR" />
		<result column="areaId" property="areaId" jdbcType="VARCHAR" />
		<result column="areaName" property="areaName" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="cityOperators" property="cityOperators" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="sequence" property="sequence" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 添加运营商 -->
	<insert id="addOperators" parameterType="Operators">
		<selectKey resultType="String" keyProperty="id" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
			INSERT INTO OTT_OPERATORS(name,spName,cityOperators,otherName,status,code,fullName,areaId,sequence,createTime)
				VALUES(
				#{name,jdbcType=VARCHAR},
				#{spName,jdbcType=VARCHAR},
				#{cityOperators,jdbcType=VARCHAR},
				#{otherName,jdbcType=VARCHAR},
				#{status,jdbcType=VARCHAR},
				#{code,jdbcType=VARCHAR},
				#{fullName,jdbcType=VARCHAR},
				#{areaId,jdbcType=VARCHAR},
				#{sequence,jdbcType=INTEGER},
				now()
				) 
	</insert>

	<!--分页查询运营商 -->
	<select id="findOperatorsByPage" resultMap="OperatorsMap">
		select o.*,a.name as areaName from OTT_OPERATORS o
		left outer join OTT_AREA a on a.id=o.areaId
		<where>
			<if test="name != null and name != ''">
				o.name= #{name,jdbcType=VARCHAR}
			</if>
			<if test="spName != null and spName != ''">
				and o.spName= #{spName,jdbcType=VARCHAR}
			</if>
			<if test="otherName != null and otherName != ''">
				and o.otherName= #{otherName,jdbcType=VARCHAR}
			</if>
			<if test="code != null and code != ''">
				and o.code= #{code,jdbcType=VARCHAR}
			</if>
			<if test="areaId != null and areaId != ''">
				and o.areaId= #{areaId,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null and parentId != ''">
				and a.parentId= #{parentId,jdbcType=VARCHAR}
			</if>
			<if test="status !=null and status !=''">
				and o.status= #{status,jdbcType=VARCHAR}
			</if>
		</where>
		<if test="orderColumn != null and orderColumn !=''">
			order by ${orderColumn}
		</if>
		<if test="orderColumn == null or orderColumn ==''">
			order by o.id desc
		</if>
	</select>
	<select id="getCountOperators" resultType="int">
		select count(1)
		from OTT_OPERATORS o
		left outer join OTT_AREA a on a.id=o.areaId
		<where>
			<if test="name != null and name != ''">
				o.name= #{name,jdbcType=VARCHAR}
			</if>
			<if test="spName != null and spName != ''">
				and o.spName= #{spName,jdbcType=VARCHAR}
			</if>
			<if test="otherName != null and otherName != ''">
				and o.otherName= #{otherName,jdbcType=VARCHAR}
			</if>
			<if test="code != null and code != ''">
				and o.code= #{code,jdbcType=VARCHAR}
			</if>
			<if test="areaId != null and areaId != ''">
				and o.areaId= #{areaId,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null and parentId != ''">
				and a.parentId= #{parentId,jdbcType=VARCHAR}
			</if>
			<if test="status !=null and status !=''">
				and o.status= #{status,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="getOperatorsById" resultMap="OperatorsMap">
		<![CDATA[ 
			select o.*,a.name as areaName from OTT_OPERATORS o
			left outer join OTT_AREA a on a.id=o.areaId where o.id=#{id}
		]]>
	</select>

	<!-- 修改运营商 -->
	<update id="updateOperators" parameterType="Operators">
		<![CDATA[ UPDATE OTT_OPERATORS SET 
				name=#{name,jdbcType=VARCHAR},
				spName=#{spName,jdbcType=VARCHAR},
				cityOperators=#{cityOperators,jdbcType=VARCHAR},
				otherName=#{otherName,jdbcType=VARCHAR},
				code=#{code,jdbcType=VARCHAR},
				fullName=#{fullName,jdbcType=VARCHAR},
				areaId=#{areaId,jdbcType=VARCHAR},
				sequence=#{sequence,jdbcType=INTEGER}
			where id=#{id}
		]]>
	</update>

	<update id="updateOperatorsStatus">
			UPDATE OTT_OPERATORS SET 
				status=#{status,jdbcType=VARCHAR}
			where id=#{id}
	</update>
	
	<delete id="delOperators">
		delete from OTT_OPERATORS where id=#{id}
	</delete>
	
	<delete id="delOperatorsList">
		delete from OTT_OPERATORS where id in
	     <foreach collection="list" item="ids"  open="(" separator="," close=")">  
        	#{ids}  
     	</foreach>
	</delete>
	
	<select id="findOperatorsByCond" resultMap="OperatorsMap">
		select o.*,a.name as areaName from OTT_OPERATORS o
		left outer join OTT_AREA a on a.id=o.areaId
		<where>
			<if test="name != null and name != ''">
				o.name= #{name,jdbcType=VARCHAR}
			</if>
			<if test="spName != null and spName != ''">
				and o.spName= #{spName,jdbcType=VARCHAR}
			</if>
			<if test="otherName != null and otherName != ''">
				and o.otherName= #{otherName,jdbcType=VARCHAR}
			</if>
			<if test="code != null and code != ''">
				and o.code= #{code,jdbcType=VARCHAR}
			</if>
			<if test="areaId != null and areaId != ''">
				and o.areaId= #{areaId,jdbcType=VARCHAR}
			</if>
			<if test="areaName != null and areaName != ''">
				and a.name= #{areaName,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null and parentId != ''">
				and a.parentId= #{parentId,jdbcType=VARCHAR}
			</if>
			<if test="status !=null and status !=''">
				and o.status= #{status,jdbcType=VARCHAR}
			</if>
		</where>
		<if test="orderColumn != null and orderColumn !=''">
			order by ${orderColumn}
		</if>
		<if test="orderColumn == null or orderColumn ==''">
			order by o.id
		</if>
	</select>
	
	<select id="findOperatorsByArea" resultMap="OperatorsMap">
		select o.*,a.name as areaName from OTT_OPERATORS o
		left outer join OTT_AREA a on a.id=o.areaId
		left outer join ott_city_operators co on co.id=o.cityOperators
		where o.status='1' 
			and a.name= #{areaName,jdbcType=VARCHAR}
		group by o.spName order by co.sequence
	</select>
	
	<select id="findOperatorsBySpName" resultMap="OperatorsMap">
		select o.* from OTT_OPERATORS o
		where o.status='1' and o.spName= #{spName,jdbcType=VARCHAR}
		group by o.otherName order by o.id
	</select>
</mapper>