<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>品牌管理</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
#tagLibs()
</head>
<body>
	<!--  快速转换位置按钮  -->
	<div class="topline">
    	<a href="#" class="xzbtn" style="color:#FFFFFF">品牌列表</a> | 
        <a href="${ctx}/equip/toBrand.do" class="wxbtn">新增品牌</a>
	</div>
	<form name="queryForm" id="queryForm" >
		<!--  内容列表   -->
		<input type='hidden' id='orderColumn' name="orderColumn" value='$!{brand.orderColumn}'/>
		<table id="list-table" width="100%" border="0" cellpadding='0' cellspacing='0' style="margin-top:10px;">
			<tr bgcolor="#CFCFCF">
				<td height="28" colspan="6" style="padding-left:8px;">◆ 品牌 &gt; 品牌列表
				</td>
			</tr>
			<tr align="left" bgcolor="#eff2f7" height="30">
				<td><a href="javascript:void(0);" onclick="orderBy(this);" name="name" lastOrderBy="$!{brand.orderColumn}" class="tb_head">品牌名称</a></td>
				<td><a href="javascript:void(0);" onclick="orderBy(this);" name="factory" lastOrderBy="$!{brand.orderColumn}" class="tb_head">厂商全称</a></td>
				<td><a href="javascript:void(0);" onclick="orderBy(this);" name="code" lastOrderBy="$!{brand.orderColumn}" class="tb_head">编码</a></td>
				<td>推荐类型</td>
				<td><a href="javascript:void(0);" onclick="orderBy(this);" name="status" lastOrderBy="$!{brand.orderColumn}" class="tb_head">状态</a></td>
				<td>操作</td>
			</tr>
    		#if ($null.isNull($list) || $list.size()==0)
    			<tr align='left' height="30"  onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='';">
        			 <td colspan="6"><h1>暂无相关数据内容</h1></td>
    		    </tr>
    		#end
		   #foreach ($b in $!list)
    			<tr align='left' height="30"  onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='';">
    				<td>$!{b.name}</td> 
    				<td>$!{b.factory}</td> 
					<td>$!{b.code}</td> 
					<td>$!{b.getRecTypeNameStr()}</td>
    				<td>#if($!{b.status} == '1') 启用  #else 弃用 #end</td>
    				<td><a href="${ctx}/equip/toBrand.do?id=$!{b.id}">编辑</a></td>
    			</tr>
           #end
		</table>
		<div height="36" align="right">
    		#pagination(${brand})
    	</div>
</form>
</body>
</html>
