<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>客服信息</title>
#tagLibs()
</head>
<body>
<div class="topline">
	<a href="${ctx}/market/findCustomer.do" class="wxbtn">客服列表</a> | 
    <a href="#" class="xzbtn" style="color:#FFFFFF" >#if($!{customer.id}==""|| !${customer.id})新增客服#else 修改客服#end</a>
</div>
<form id="form1" name="form1" action="" method="post" >
   <table width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" style="margin-top:13px;">
      <tr>
			<td>
				<legend>客服信息</legend>
					<table width="98%" class="pn-ftable" cellpadding="2" cellspacing="1" border="0">
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">账号类型：</td>
							<td class="pn-fcontent">
								<input type="radio" id="qq_type" name="type" value="1" #if($!{customer.type}=='1'|| !${customer.type}) checked="checked" #end/><label for="qq_type">QQ</label>
								<input type="radio" id="wx_type" name="type" value="2" #if($!{customer.type}=='2') checked="checked" #end/><label for="wx_type">微信</label>
								<input type="radio" id="wb_type" name="type" value="3" #if($!{customer.type}=='3') checked="checked" #end/><label for="wb_type">微博</label>
							</td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">客服名称：</td>
							<td class="pn-fcontent">
								<input type="hidden" id="id"  name="id" value="$!{customer.id}"/> 
								<input type="text" id="customerName"  name="customerName" value="$!{customer.customerName}" class="text-writer"/> 
								<em class="required">*</em>
							</td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">客服账号：</td>
							<td class="pn-fcontent">
								<input type="text" id="customerNo"  name="customerNo" value="$!{customer.customerNo}" class="text-writer"/> 
								<em class="required">*</em>
							</td>
						</tr>
						<tr>
							<td width="15%" class="pn-flabel pn-flabel-h">客服头像：</td>
							<td class="pn-fcontent">
								<div id="preview">
									#if(!${customer.headUrl}||$!{customer.headUrl}=="")
										<img id="imghead" style="width:230px;height:200px;border:1px;" alt="头像LOGO" src="${ctx}/images/nopic.gif">
									#else
										<img id="imghead" style="width:230px;height:200px;border:1px;" alt="头像LOGO" src="$!{customer.logoUrl}">
									#end
								</div>
							   <input type="hidden" id="headUrl"  name="headUrl" value="$!{customer.headUrl}"/>
								<input type="file" id="logoFile"  name="logoFile" class="text-writer9"/>
								<button type="button" id="saveLogoImg" style="width:80px;" class="bt-primary">上传</button>
							</td>
						</tr>
					</table>
		</td>
    </tr>
   <tr>
    <td style="margin-top:15px;margin-left:150px; ">
        <button type="button" id="saveCustomer" class="bt-primary" >确定</button>
        <button type="button" onClick="history.go(-1);" class="bt-secondary">返回</button>
    </td>
   </tr>
   <div id="uploadImg" style="display:none;height:15px; width:15px; margin:15px auto;">
		<img src="${ctx}/images/loadinglit.gif"/>
	</div>
    <em id="top-message" class="top-message" style="display:none;margin-top:20px;"></em>
</table>
</form>
	<script type="text/javascript" src="${ctx}/js/jquery/ajaxfileupload.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/jquery/validate/validate-tip.js"></script>
	<script type="text/javascript" src="${ctx}/js/ott/uploadPreview.js"></script>
    <script type="text/javascript" src="${ctx}/js/ott/market/customerInfo.js"></script>
</body>
</html>